
@import './mixin.scss';

#root {
  min-width: 200px !important;
  overflow-x: hidden;
}

.mobileDisplay {
  @include mobileDisplay;
}

.padDisplay {
  @include padDisplay;
}

.pcDisplay {
  @include pcDisplay;
}

.w-full { width: 100%; }

.h-full { height: 100%; }

.full {
  width: 100%;
  height: 100%;
}

.hidden { display: none; }
