
/**
 * ==========================================
 * 页面样式初始化
 * ==========================================
 */
html, body, div, span, applet,
object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr,
acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s,
samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt,
dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot,
thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

body { overflow: hidden; }
body, button, input, select, textarea { font: 12px/1.5tahoma, arial, \5b8b\4f53; }

h1, h2, h3, h4, h5, h6 { font-size: 100%; }

address, cite, dfn, em, var { font-style: normal; }

code, kbd, pre, samp { font-family: couriernew, courier, monospace; }

small { font-size: 12px; }

ul, ol { list-style: none; }

a { text-decoration: none; }

a:hover { text-decoration: underline; }

sup { vertical-align: text-top; }

sub { vertical-align: text-bottom; }

legend { color: #000; }

fieldset, img { border: 0; }
img { user-select: none;-webkit-user-drag: none; }

button, input, select, textarea { font-size: 100%; }

table { border-collapse: collapse;border-spacing: 0; }
