/**/node_modules
/**/dist
/**/out
/**/cache
/**/public
/**/build
/coverage/**/*
*.log*

**/*.d.ts

**/*.test.js
**/*.test.cjs
**/*.test.mjs
**/*.test.jsx
**/*.test.cjsx
**/*.test.mjsx
**/*.test.ts
**/*.test.tsx
**/*.test.cts
**/*.test.ctsx
**/*.test.mts
**/*.test.mtsx

**/*.spec.js
**/*.spec.cjs
**/*.spec.mjs
**/*.spec.jsx
**/*.spec.cjsx
**/*.spec.mjsx
**/*.spec.ts
**/*.spec.tsx
**/*.spec.cts
**/*.spec.ctsx
**/*.spec.mts
**/*.spec.mtsx

**/__tests__/*
