registry=https://registry.npmjs.org
engine-strict=true
strict-ssl=false
save-exact=true

ELECTRON_MIRROR=https://npmmirror.com/mirrors/electron/
ELECTRON_BUILDER_BINARIES_MIRROR=https://npmmirror.com/mirrors/electron//electron-builder-binaries/
proxy=http://127.0.0.1:7890
https-proxy=http://127.0.0.1:7890
