
@mixin FullSizeWidth {
  width: 100%;
}

@mixin FullSizeHeight {
  height: 100%;
}

@mixin FullSize {
  @include FullSizeWidth();
  @include FullSizeHeight();
}

@mixin Overflow($scroll: scroll) {
  overflow-x: hidden;
  overflow-y: $scroll !important;
}
