
@import '@scss/mixin/index';



.workbenchesLayout {
  .mainRootContainer {
    height: calc(100% - var(--rapid-caption-bar-height));
    gap: 4px;
    @include Flex;

    .mainContainer {
      height: calc(100% - 8px);
      border-radius: 4px;

      @include Overflow(scroll);
      @include BeautifulBar;
    }
  }
}

