@import '@scss/mixin.scss';
@import '@scss/var.scss';

.propertyBar {
  width: 300px;
  height: 100%;
  z-index: 99;
  background-color: var(--s-main-frame-bg-normal-color);
  border-radius: var(--s-block-border-radius);
  // padding: 8px;

  &:deep(div.ant-tabs) {

    width: 100%;
    height: 100%;

    @include beautifulBar;
    @include hoverDisplayBar;

    div.ant-tabs-nav {
      background-color: var(--s-main-frame-bg-normal-color);
      margin-bottom: unset;
      position: sticky;
      top: 0;
      z-index: 1;

      div.ant-tabs-nav-wrap {
        display: unset;

        div.ant-tabs-nav-list {
          justify-content: space-around;

          div.ant-tabs-tab {
            padding: 8px 10px;
            font-size: 12px;
            margin: 0;
          }

          div.ant-tabs-ink-bar {
            transition: unset !important;
          }
        }
      }
    }

    // 为属性参数的每一行设置样式
    div.ant-tabs-content-holder {

      // form.ant-form
      div.ant-form-row {
        width: 100%;
        //max-width: 100%;

        //display: grid;
         //justify-content: space-around;
         //grid-template-columns: repeat(72px, auto-fill);
         //grid-gap: 10px;

        flex-wrap: nowrap;
        overflow-x: hidden;


        // label 溢出自动隐藏, 由于初版的原因, 暂定使用此 CSS, 此后会采用组件实现
        div.ant-col.ant-form-item-label {
          width: 30%;
          min-width: 70px;
          max-width: 100px;
          text-align: left;

          label {
            // height: 100%;
            padding-top: 6px; // 有点无奈之举

            display: inline-block;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;


            vertical-align: middle;
          }
        }

        div.ant-col.ant-form-item-control  {
          //min-width: max-content;
        }
      }

    }
  }

  // 修改 文件输入框
  &:deep(div.ant-collapse) {

    input[type=file] {
      width: 100%;
      //display: none;
    }

  }


  // 修改 collapse
  &:deep(div.ant-collapse) {
    border-radius: unset;
    border: unset;

    div.ant-collapse-item {
      div.ant-collapse-header {
        font-size: 12px;
        background: var(--s-main-frame-bg-normal-color);
        padding: 8px 16px;
      }


      div.ant-collapse-content .ant-collapse-content-box:last-child {
        margin-right: auto;
      }
      div.ant-collapse-content .ant-collapse-content-box::after {
        content: '';
        flex: auto;
      }

      // 包裹的容器
      div.ant-collapse-content .ant-collapse-content-box {
        // display: grid;
        // justify-content: space-around;
        // grid-template-columns: repeat(auto-fill, 52px);
        // grid-gap: 10px;
        padding: 10px 10px;
      }
    }
  }





}
