@use "@/scss/mixin" as *;

div.dropdownMenuRootWrapper {
  width: max-content;
  user-select: none;
  transition: unset !important;
  animation-duration: 0s !important;

  :global(ul.ant-dropdown-menu) {

    max-height: 90vh;
    overflow-y: auto;

    @include BeautifulBar;
    @include MiniBar;
  }

  :global(ul.ant-dropdown-menu li.ant-dropdown-menu-item) {
    padding: 4px 18px 4px 12px;
  }

  :global(ul.ant-dropdown-menu li.ant-dropdown-menu-submenu div.ant-dropdown-menu-submenu-title) {
    padding: 4px 18px 4px 12px;
  }

  :global(ul.ant-dropdown-menu-item-group-list li.ant-dropdown-menu-item) {
    padding-right: 12px;
  }

  :global(ul.ant-dropdown-menu li.ant-dropdown-menu-item-divider) {
    margin: 1px 0;
  }

  :global(ul.ant-dropdown-menu span.ant-dropdown-menu-title-content) {
    display: inline-block;
    padding: unset;
    width: 100%;
  }
}
