


.blended {
  --spacing: 0px;
  --dist-spacing: 0px;

  background-image: -webkit-linear-gradient(-20deg, #0ca0b473, #e5884f, rgb(255, 60, 1));
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  font-family: fantasy;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: none;
}

.hasAnimation {
  transition: run 3s ease-out 1s;
  animation: run 2s ease-out forwards;
  display: block;
}

@keyframes run {
  from {
    letter-spacing: var(--spacing);
    filter: blur(10px) contrast(6);
    opacity: 0;
  }
  to {
    letter-spacing: var(--dist-spacing);
    filter: blur(1px) contrast(6);
    opacity: 1;
  }
}
