@import '@scss/mixin/index.scss';

.header {
  width: calc(100% - 6px);
  height: var(--rapid-navbar-height, 26px);
  background-color: var(--rapid-navbar-background-color, #343a40);
  padding: 0 3px;
}
