
@import '@scss/mixin';

.rootLayout {

}


.rapidLayout {
  .mainRootContainer {
    height: calc(100% - var(--rapid-caption-bar-height));
    gap: 4px;
    @include Flex;

    .mainContainer {
      padding-top: 10px;

      @include Overflow(scroll);
      @include BeautifulBar;
    }
  }
}

