

div.dropdownMenuRootWrapper {
  width: max-content;
  user-select: none;

  :global(ul.ant-dropdown-menu) {
    background-color: var(--rapid-dropdown-menu-background-color);
    color: var(--rapid-dropdown-menu-text-color);
  }
}


// // 普通下拉菜单
// // =====================================================================================================
// div.ant-dropdown-menu {
//   min-width: unset;

//   .ant-dropdown-arrow {

//   }


//   ul.ant-dropdown-menu {
//     width: fit-content;
//     background-color: var(--rapid-dropdown-background-color);
//     color: var(--rapid-dropdown-text-color);
//     border-radius: var(--rapid-dropdown-border-radius);

//     .ant-dropdown-menu-item {


//       width: fit-content;

//       .ant-dropdown-menu-title-content {

//       }

//     }

//   }
// }
