@import "@scss/mixin";

.icon {
  display: none;
}

:global(.ant-dropdown-menu) {
  .menuItem {
    font-size: 14px;
    line-height: 14px;
    gap: 18px;
    padding: 7px 0px;

    @include FlexRowSpaceBetween;
  }

  .content {
    flex: 1 1 auto;
    margin-right: 8px;
  }

  .icon {
    display: inline-block;
    width: 14px;
    height: 14px;
    display: inline-block;
    filter: drop-shadow(2px 1px 1px gray);
  }

  .shortcut {
    color: gray;
  }
}
