
@import '@scss/mixin/index.scss';


.widgetHasHover {

  &:hover {
    background-color: rgba(0, 0, 0, .1);
  }
}

.widget {
  width: 20px;
  height: 20px;
  max-width: 100%;
  max-height: 100%;

  // font-size: 16px;
  font-size: 85%;
  padding: 2px;

  aspect-ratio: 1 / 1;
  cursor: default;
  user-select: none;
  flex: 0 0 auto;
  border-radius: 2px;

  @include FlexRowCenter;
  @include AppRegionNo;
}
