

.widgetHasHover {
  &:hover {
    background-color: var(--rapid-widget-hover-background-color);
  }
}

.widget {
  max-width: 100%;
  max-height: 100%;
  width: var(--rapid-widget-width);
  height: var(--rapid-widget-height);
  color: var(--rapid-widget-color);

  border-radius: var(--rapid-widget-border-radius);
  overflow: hidden;

  // font-size: 90%;
  user-select: none;
  flex: 0 0 auto;
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.2));
}
