@import '@scss/mixin.scss';
@import '@scss/var.scss';

@mixin padding {
  padding: var(--h-tb-padding) 200px;

  @include forMobile {
    padding: var(--h-tb-padding) 20px;
  }
}

.receptionHeaderPopover {
  :global(.ant-popover-inner) {
    padding: unset;
  }

  .subMenu {
    width: max-content;
    height: max-content;
    max-width: 100%;

    .subMenuLeft {
      min-width: 120px;
      padding: 32px 10px 32px 32px;
      background-color: #FAFAFA;


      .subMenuItem {
        padding-right: 48px;
        margin-top: 12px;
        line-height: 24px;
        white-space: normal;
        cursor: pointer;

        span:hover {
          padding-bottom: 5px;
          border-bottom: 2px solid #000;
        }
      }
    }

    .subMenuRight {
      padding: 32px;
    }
  }
}

.receptionHeaderContainer {
  background-color: white;
  position: sticky;
  top: 0px;
  z-index: 999;
  height: $receptionHeaderHeight;
  color: black;

  .receptionNavContainer {
    @include padding;

    .trademark {
      flex: 5;
      width: max-content;

      :global(.ant-space-item) { cursor: pointer; }
    }

    .menu {
      gap: 20px;
      flex: 8;
      flex-wrap: nowrap !important;
      justify-content: flex-start !important;

      @include forNotPC {
        display: none !important;
      }

      .menuTitle {
        cursor: pointer;
      }
    }

    .control {
      flex: 5;
    }
  }
}

// 头部导航
.receptionHeaderHasTransition {
  transition: all .4s ease-out;
}
.receptionHeaderHidden { // 变相影藏, 可以有动画
  transform: translateY(calc(-1 * $receptionHeaderHeight - var(--h-tb-padding) * 2));
  box-shadow: unset !important;
}
.receptionHeaderHasShadow {
  box-shadow: 0 0 11px 6px rgba(29, 17, 51, .1), 0 0 3px 2px rgba(9, 32, 77, .12), 0 0 2px -3px rgba(29, 17, 51, .12);
  background-color: white !important;
  color: black !important;
}
.receptionHeaderHasPerpose {
  color: white;
  background-color: unset;
}
