/**
 * ==========================================
 * 用于处理自定义组件样式
 * 当使用了组件库, 需要处理单独的样式, 但又不希望直接覆盖组件库的所有样式时处理
 * ==========================================
 */
@import './var.scss';
@import './animation.scss';
@import './mixin.scss';



// 浮动级联菜单的样式
div.dropdown-menu.ant-dropdown, div.ant-dropdown-menu-submenu {
  transition: none !important;
  animation: none !important;
  user-select: none;

  ul.ant-dropdown-menu {
    padding: 5px 2px;

    .dropdown-driver.ant-divider {
      margin: 2px 0;
    }

    @mixin radius {
      border-radius: 10px;
    }

    .ant-dropdown-menu-submenu {
      @include radius;
      overflow: hidden;

      .ant-dropdown-menu-submenu-title { margin-left: 2px; } // 子级列表菜单错位
      .ant-dropdown-menu-submenu-arrow {
        margin-left: 10px;
        inset-inline-end: 4px;
      }
    }

    .dropdown-menu-single.ant-dropdown-menu-item {
      padding: 5px 15px;
      @include radius;

      .dropdown-menu-single-text {
        .dropdown-menu-single-text-shortcut {
          color: gray;
        }
      }
    }

    .ant-dropdown-menu-item-icon {
      display: inline-block;
      width: 14px;
      height: 14px;
      filter: drop-shadow(1px 1px 1px gray);
    }
    .ant-dropdown-menu-title-content {
      padding: 0 10px;
      text-align: left;
    }
  }
}
