/**
 * ==========================================
 * 定义的默认样式
 * ==========================================
 */

@import './mixin.scss';

// * {
//   @include beautifulBar(unset);
// }

@mixin Flex {
  display: flex;
  align-items: center;
  @content;
}

.flex {
  @include Flex();
}

.flex-center {
  @include Flex() { justify-content: center; }
}

.flex-between {
  @include Flex() { justify-content: space-between; }
}

.flex-start {
  @include Flex() { justify-content: flex-start; }
}

.flex-end {
  @include Flex() { justify-content: flex-end; }
}

.flex-left {
  @include Flex() { justify-content: left; }
}

.flex-right {
  @include Flex() { justify-content: right; }
}

.flex-col {
  @include Flex() {
    flex-direction: column;
  }
}

.flex-col-center {
  @include Flex() {
    flex-direction: column;
    justify-content: center;
  }
}

.hidden { display: none !important; }
.overflow-x-hidden { overflow-x: hidden; }
.overflow-y-hidden { overflow-y: hidden; }
.overflow-hidden { overflow: hidden; }

.user-select-none { user-select: none; }

.w-full { width: 100%; }
.h-full { height: 100%; }
.full { width: 100%;height: 100%; }
