@import '@scss/mixin.scss';
@import '@scss/var.scss';

.graphics {
  width: 300px;
  height: 100%;
  background-color: var(--s-main-frame-bg-darkness-color);

  border-radius: var(--s-block-border-radius);
  @include beautifulBar;
  @include hoverDisplayBar;

  &:deep(div.ant-tabs-nav) {
    background-color: var(--s-main-frame-bg-normal-color);
    margin-bottom: unset;
    position: sticky;
    top: 0;
    z-index: 1;

    div.ant-tabs-nav-wrap {
      display: unset;

      div.ant-tabs-nav-list {
        justify-content: space-around;

        div.ant-tabs-tab {
          padding: 8px 10px;
          font-size: 12px;
          margin: 0;
        }

        div.ant-tabs-ink-bar {
          transition: unset !important;
        }
      }
    }
  }

  &:deep(div.ant-collapse) {
    border-radius: unset;
    border: unset;

    div.ant-collapse-item {
      div.ant-collapse-header {
        font-size: 12px;
        background: var(--s-main-frame-bg-normal-color);
        padding: 8px 16px;
      }


      div.ant-collapse-content .ant-collapse-content-box:last-child {
        margin-right: auto;
      }
      div.ant-collapse-content .ant-collapse-content-box::after {
        content: '';
        flex: auto;
      }

      // 包裹图形的容器
      div.ant-collapse-content .ant-collapse-content-box {
        display: grid;
        justify-content: space-around;
        grid-template-columns: repeat(auto-fill, 52px);
        grid-gap: 10px;
        padding: 10px 10px;

        // 某个具体的图形
        div.graphic {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 52px;
          position: relative;
          padding: 10px 0;
          border-radius: 2px;
          border: 1px solid transparent;
          background-color: unset;

          &:hover {
            cursor: pointer;
          }

          p {
            margin-top: 6px;
            padding: 0 8px;
            text-align: center;
            font-size: 12px;
            height: 12px;
            line-height: 1;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            word-break: break-all;
            -webkit-box-orient: vertical;
          }

          svg {
            width: 28px;
            height: 28px;
            margin: auto;
          }
        }
      }
    }
  }
}
