
@import '@scss/mixin';

.mainNavigationContainer {
  width: calc(var(--rapid-navigation-bar-width) - 4px);
  height: 100%;
  background-color: var(--rapid-navigation-bar-background-color);
  padding: 0 2px;
  gap: 4px;

  @include FlexColSpaceBetween;
  @include FlexFixed;


  .topContainer {
    margin-top: 20px;
  }

  .middleContainer {

  }

  .bottomContainer {
    margin-bottom: 30px;
  }


  .sideBarItem {
    width: calc(var(--rapid-navigation-bar-width) - 4px - 2px - 6px);
    transform: translateX(1px);
    height: unset;
  }
}

.mainNavigationContainerPlaceholder {
  width: 8px;
  height: 100%;
  background: repeating-linear-gradient(
    48deg,
    rgba(68, 206, 246, 0.5),
    rgba(68, 206, 246, 0.5) 10px,
    white 10px,
    white 20px
  );
}
