@use "@scss/mixin" as *;

.mainNavigationContainer {
  width: calc(var(--rapid-navigation-bar-width) * 1.2);
  min-width: calc(var(--rapid-navigation-bar-width) * 1.2);
  height: 100%;
  background-color: var(--rapid-navigation-bar-background-color);
  gap: 4px;
  flex: 0 0 auto !important;
  @include FlexColSpaceBetween;

  .topContainer {
    margin-top: 2px;
    height: max-content;
  }

  .bottomContainer {
    margin-bottom: 30px;
  }

  .sideBarItem {
    width: calc(var(--rapid-navigation-bar-width) - 2px);
    font-size: 16px;
    margin: 4px 0 4px 50%;
    transform: translateX(-50%);
    height: unset;
    aspect-ratio: 1 / 1;
  }
}

.mainNavigationContainerPlaceholder {
  width: 8px;
  height: 100%;
  background: repeating-linear-gradient(
    48deg,
    rgba(68, 206, 246, 0.5),
    rgba(68, 206, 246, 0.5) 10px,
    white 10px,
    white 20px
  );
}
